.AboutSectionContainer {
    padding: 5rem;
    margin-bottom: 20rem;
    color: var(--accent1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
}

.contentLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1
}

.contentLeftA {
    position: relative;
    z-index: 1;
}

.contentLeftA::after {
    content:'';
    position: absolute;
    z-index:-1;
    bottom:-30px;
    left:-30px;
    width:100%;
    height:100%;
    margin-top: 5rem;
    background: var(--design1);
}

.headingInfo,
.contentLeftBImage {
    flex: 1;
}

.contentRight {
    flex: 1;
    position: relative;
    z-index: 1;
    
}

.contentRight::after {
    content:'';
    position: absolute;
    z-index: -1;
    top: -50px;
    right: -50px;
    width: 200px;
    height: 160px;
    background-image: var(--design2BSZ1rem1rem);
    background-size: 1rem 1rem;
}

.contentRight::before {
    content:'';
    position: absolute;
    z-index: -1;
    bottom: -20px;
    left: 10px;
    width: 200px;
    height: 200px;
    background-image: var(--design2BSZ1rem1rem);
    background-size: 1rem 1rem;
}

.contentRightA {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.heading {
    text-align: right;
    text-transform: uppercase;
    background-color: var(--accent4);
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "KenokyLight";
    letter-spacing: 2px;
    font-size: 6rem;
}

.contnetRightDesciption {
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: justify;
    hyphens: auto;
    width: 90%;
    background-color: var(--accent4);
    padding: 1rem;
    padding-bottom: .5rem;
}

.btnContainer {
    display: flex;
    margin-bottom: 3rem;
    background-color: var(--accent4);
    padding-left: 1rem;
    padding-right: 1rem;
}

.link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.icon {
    font-size: 4rem;
}

@media screen and (max-width: 868px) {
    .AboutSectionContainer {
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 1rem;
        padding: 3rem;
    }

    .contentRight::before {
        bottom: -30px;
        left: -50px;
    }
    .contentRight::after {
        top: -70px;
        right: -50px; 
    }
    
    .contentLeftA {
        margin-top: 9rem;
    }

    .contentRightA {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .contentRightA h2 {
        text-align: right;
    }

    .contnetRightDesciption {
        margin-top: 0rem;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .contentRight::before {
        bottom: -10px;
        left: -40px;
        height: 150px;
    }

    .contentRight::after {
        top: -40px;
        right: -40px;
        height: 140px;
        width: 150px;
    }
}

@media screen and (max-width: 480px) {
    .AboutSectionContainer {
        padding: 2rem;
    }
}