.servicesContainer {
    display: flex;
    flex-direction: column;
}

.topContent {
    padding: 5rem;
}

.heading {
    width: 90%;
    line-height: 1.3;
    color: var(--accent1);
    text-transform: uppercase;
    margin-bottom: 3rem;
     font-family: "KenokyLight";
     letter-spacing: 3px;
     font-size: 7rem;
}

.topContent h5 {
    width: 80%;
    hyphens: auto;
    color: var(--accent1);
    font-weight: 400;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contentbottom,
.contentbottom3,
.contentbottom4, 
.contentbottom5 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5rem;
    margin-bottom: 15rem;
}

.contentbottom3,
.contentbottom5 {
    flex-direction: row-reverse;
}

.left,
.right {
    flex: 1;
}

.left {
    position: relative;
    z-index: 1;
    padding: 5rem;
}

.left::after {
    content:'';
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: var(--design2BSZ1rem1rem);
    background-size: 1rem 1rem;
}

.contentLeftA {
    background-color: var(--accent4);
    color: var(--accent1);
}

.subHeading {
    text-align: left;
    text-transform: uppercase;
    padding: 3rem 3rem 0rem 3rem;
}

.subHeadingDescription {
    hyphens: auto;
    color: var(--accent1);
    font-weight: 400;
    font-size: 2rem;
    padding: 1rem 3rem 3rem 3rem;
}

.contentRightA {
    position: relative;
    z-index: 1;
}

.look {
    position: absolute;
}

.contentRightA::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -35px;
    left: -35px;
    width: 200px;
    height: 200px;
    margin-top: 5rem;
    background: var(--design1);
}

.contentBottom2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subHeading2 {
    text-align: left;
    text-transform: uppercase;
    color: var(--accent1);
}

.subP {
    hyphens: auto;
    color: var(--accent1);
    font-weight: 400;
    font-size: 2rem;
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.imageBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 5rem;
    background-image: var(--design2BSZ1rem1rem);
    background-size: 1rem 1rem;
}

.img1, .img2, .img3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.name {
    background-color: var(--accent4);
    color: var(--accent1);
}

.profile {
    hyphens: auto;
    color: var(--accent1);
    width: 95%;
    background-color: var(--accent4);
    padding: 1rem;
    padding-bottom: .5rem;
}

@media screen and (max-width: 953px) {
    .topContent {
        padding-top: 2rem;
    }

    .heading {
        text-align: center;
        width: 100%;
    }

    .topContent h5 {
        text-align: center;
        width: 100%;
    }

    .contentbottom,
    .contentbottom3,
    .contentbottom4,
    .contentbottom5 {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        margin-bottom: 10rem;
    }

    .contentLeftA h2 {
        text-align: center;
    }

    .subHeadingDescription {
        text-align: center;
    }

    .imageBox {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        
    }

    .subP {
        width: 100%;
        text-align: center;
    }

    .profile {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .topContent {
        padding: 1rem;
    }

    .contentBottom2 {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 570px) {
    .heading {
        font-size: 4.5rem;
        text-align: left;
    }

    .topContent h5 {
        text-align: left;
    }

    .subHeading {
        text-align: center !important;
    }

    .subHeadingDescription {
        text-align: left;
    }

    .subHeading2 {
        text-align: right !important;
    }
    .subP {
        text-align: right;
    }

    .imageBox {
        grid-template-columns: repeat(1, 1fr);
    }
}