 .btn {
     display: flex;
     align-items: center;
     justify-content: center;
     width: auto;
     color: var(--accent4);
     border-radius: 0px 0px 25px 0px;
     text-transform: uppercase;
     overflow: hidden;
     transition: all 0.2s ease-in-out;
 }

 .large {
     padding: 15px 45px;
     position: relative;
     font-size: 1.6rem;
     font-weight: bold;
     text-align: center;
     white-space: nowrap;
     z-index: 5;
 }

 .large2 {
     padding: 15px 45px;
     position: relative;
     font-size: 1.6rem;
     font-weight: bold;
     text-align: center;
     white-space: nowrap;
     z-index: 5;
 }

 .small {
     padding: 8px 38px;
     position: relative;
     font-size: 1.3rem;
     font-weight: bold;
     text-align: center;
     white-space: nowrap;
     z-index: 5;
 }

 .primary {
    background-color: var(--accent1);
    transition: all 0.2s ease-in-out;
    border: solid 2px var(--accent1);
    border-radius: 0px 0px 25px 0px;
 }

  .primaryOutline2 {
    background-color: var(--accent5);
    border: 2px solid var(--accent5);
    color: var(--accent4);
  }

  .tertiary {
    background-color: var(--accent3);
    color: var(--accent1);
    border: solid 2px var(--accent3);
  }


@media screen and (min-width: 481px) {

 .primary:hover {
     background-color: var(--accent4);
     color: var(--accent1);
 }
  
 .primaryOutline2:hover {
     background-color: var(--accent4);
     color: var(--accent5);
 }
 
 .tertiary:hover {
    background-color: var(--accent1);
    color: var(--accent3);
    }
}

@media screen and (max-width: 390px) {
    .large {
        padding: 10px 35px;
    }
}

@media screen and (max-width: 350px) {
    .large {
        padding: 8px 25px;
    }
}