.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerBottom {
    background-color: var(--accent1);
    padding: 5rem;
    padding-bottom: 0rem;
}

.footerContent {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

.footerLeft,
.footerRight {
    flex: 1;
}

.footerLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    color: var(--accent4);
    opacity: 0.6;
}

.navbarLogo a {
    font-size: 2rem;
    font-weight: bold;
}

.navbarIcon {
    font-size: 2rem;
    margin-right: 1rem;
    position: relative;
    top: 0.3rem;
}

.footerLeft p {
    font-size: 1.3rem;
    width: 80%;
    text-align: justify;
    hyphens: auto;
}

.sci {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}

.icon {
    color: var(--accent4);
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.icon3 {
    font-size: 2rem;
    color: var(--accent4);
    margin-right: 1.5rem;
}

.list1 li, .list2 li, .list3 li {
    cursor: pointer;
}

.footerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--accent4);
    opacity: 0.6;
}

.heading {
    margin-bottom: 2rem;
}

.footerRight li {
    list-style: none;
    padding-bottom: .5rem;
    font-size: 1.3rem;
}

.copyrightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent4);
    opacity: 0.6;
    padding: 0.5rem;
}

.cw {
    color: var(--accent3);
    opacity: 1;
}

@media screen and (max-width: 1060px) {
    .footerTopContent h5 {
        width: 100%;
    }
    
    .btnContainer {
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem
    }
}

@media screen and (max-width: 868px) {
    .footerTopContent {
        flex-direction: column;
    }

    .footerTopContent h5 {
        text-align: center;
    }

    .btnContainer {
        align-items: center;
        gap: 3rem
    }

    .footerContent {
        flex-direction: column;
        gap: 5rem;
    }

    .footerLeft {
        align-items: center;
    }

    .footerRight {
        width: 100%;
        align-items: flex-end;
        justify-content: space-between;
        gap: 3rem;
    }
}

@media screen and (max-width: 500px) {
    .footerTopContent {
        padding: 3rem;
    }

    .footerTopContent h5 {
        font-size: 2rem;
        padding: 0.5rem;
    }

    .footerBottom {
        padding: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .footerTop {
        padding: 8rem;
    }

    .footerTopContent {
        gap: 1rem;
    }
    
    .footerLeft p {
        font-size: 1.3rem;
        width: 100%;
    }
}

@media screen and (max-width: 370px) {
    .footerTop {
        padding: 3rem;
    }

    .footerTopContent {
        padding: 4rem;
    }

    .footerTopContent2 {
        bottom: 120px;
        left: 0px;
        width: 100%;
        height: 200px;
    }

    .footerTopContent3 {
        display: none;
    }

    .footerRight {
        gap: 1rem;
    }
}