@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap');

:root {
  --accent1: #343F56;
  --accent2: #F54748;
  --accent3: #FB9300;
  --accent4: #f4ecde;
  --accent5: #7541c8;
  --accent6: #0D6DFD;
  --design1: repeating-linear-gradient(-45deg,
    var(--accent1),
    var(--accent1) 10px,
    var(--accent4) 10px,
    var(--accent4) 10px,
    var(--accent4) 20px);
    --design2BSZ1rem1rem: radial-gradient(var(--accent5) 1px, transparent 2px);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 150%;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: "KenokyLight";
  src: url("../public/Fonts/KenokyLight.ttf");
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 1.8rem;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

p,
input {
  font-weight: 400;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--accent4);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent1);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}