.heroContainer {
    /* background-image: linear-gradient(to top left, #e394a3 50%, #8dd6a6 50%); */
    margin-bottom: 15rem;
    height: 100vh;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    padding: 5rem;
}

.contentLeft {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.heading {
    width: 90%;
    /* line-height: 1.3; */
    color: var(--accent1);
    text-transform: uppercase;
    font-family: "KenokyLight";
    letter-spacing: 3px;
    font-size: 7rem;
}

.description {
    width: 80%;
    color: var(--accent1);
    font-weight: 400;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.infoBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.hours {
    color: var(--accent1);
    font-weight: 400;
    font-size: 2rem;
}

.address {
    color: var(--accent5);
    font-size: 2rem;
    font-style: normal;
    cursor: pointer;
    text-align-last: left;
}

.content1B {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btnContainer {
    width: auto;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.contentRight {
     flex: 1;
     display: flex;
     align-items: center;
     justify-content: flex-end;
     margin-top: 2rem;
}

.imageContainer2 {
    position: relative;
    z-index: 1;
}

.imageContainer2::after {
    content:'';
    position: absolute;
    z-index:-1;
    bottom:-60px;
    left:-60px;
    width:100%;
    height:100%;
    background:  var(--design1); 
}

.imageContainer2::before {
    content:'';
    position: absolute;
    z-index: -1;
    top: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    background-image: var(--design2BSZ1rem1rem);
    background-size: 1rem 1rem;
}

@media screen and (max-width: 953px) {
    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
    }

    .imageContainer2::before {
        top: -30px;
        right: -40px;
    }

    .contentRight, .contentLeft {
        margin-top: 0rem;
    }

    .contentLeft {
        align-items: center;
    }

    .heading {
        text-align: center;
        width: 100%;
    }

    .description {
        text-align: center;
        width: 100%;
    }
    
    .btnContainer {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding: 0rem;
    }

    .description {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .btnContainer {
        gap: 3rem;
    }

}

@media screen and (max-width: 570px) {
    .content {
        padding: 2rem;
    }
    
    .imageContainer2::after {
        bottom: -30px;
        left: -30px;
    }

    .heading {
        font-size: 4.5rem;
    }

    .contentLeft {
        align-items: flex-start;
    }

    .description,
    .heading {
        text-align: left;
    }
}

@media screen and (max-width: 480px) {
    .content {
        padding: 1rem;
    }
       
    .imageContainer2 {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 320px) {
    .content {
        padding: 0rem;
    }
}