.heroContainer {
    /* background-image: linear-gradient(to top left, #e394a3 50%, #8dd6a6 50%); */
    height: 100vh;
}

.content {
    /* display: grid; */
    /* gap: 5rem; */
    /* grid-template-columns: repeat(12, 1fr); */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5rem;
}

.contentLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 3rem 5rem 4rem 5rem;
    grid-column: span 7;
    z-index: 2;
}
.heading {
    font-size: 4.5rem;
    line-height: 1.6;
    color: var(--accent1);
    text-transform: uppercase;
}

.description {
    width: 80%;
    color: var(--text);
}

.content1B {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btnContainer {
    width: auto;
    display: flex;
    align-items: center;
    gap: 5rem;
}


.contentRight {
     flex: 1;
     display: flex;
     align-items: center;
     justify-content: center; 
}

.heroImage {
    border-top-right-radius: 305px;
}