.background {
  background-color: var(--background);
}

.container {
  z-index: 1;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

@media screen and (max-width: 568px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}