.header {
  border-bottom: 1px solid var(--accent1);  
  z-index: 999;  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0rem;
  z-index: 999;
}

.navbarLogo {
  cursor: pointer;
  color: var(--accent1)
}

.navbarLogo a {
  font-size: 2rem;
  font-weight: bold;
}

.navbarIcon {
  font-size: 2rem;
  margin-right: 1rem;
  position: relative;
  top: 0.3rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: var(--accent1);
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  transition: none;
  z-index: 999;
  white-space: nowrap;
}

.navItem {
  margin-left: 4rem;
  color: var(--accent1);
  font-weight: bold;
  cursor: pointer;
}

.btnContainerDesktop {
  display: flex;
}

.btnContainerMobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navItem {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 953px) {
  .navmenu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
    background-color: var(--accent4);
    color: #fff;
    background-image: radial-gradient(var(--accent5) 1px, transparent 2px);
    background-size: 1rem 1rem;
    }

    .navItem {
      margin-bottom: 3rem;
      background-color: var(--accent4);
      font-size: 2rem;
      border: 2px solid var(--accent5);
      border-radius: 0px 0px 25px 0px;
      padding: 15px 45px;
      font-size: 1.6rem;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      color: var(--accent5);
      cursor: pointer;
    }

  .navItem a:hover::before {
      width: 0%;
  }

  .navmenu.active {
    left: 0%;
    
  }

  .btnContainerMobile {
    display: block;
    margin-left: 5rem;
  }

  .btnContainerDesktop {
    display: none;
  }

   .hamburger {
     display: block;
     cursor: pointer;
     z-index: 999;
   }

   .hamburger.active .bar:nth-child(1) {
     -webkit-transform: translateY(8px) rotate(45deg);
     transform: translateY(8px) rotate(45deg);
     background-color: var(--accent5);
   }

   .hamburger.active .bar:nth-child(2) {
     opacity: 0;
   }

   .hamburger.active .bar:nth-child(3) {
     -webkit-transform: translateY(-8px) rotate(-45deg);
     transform: translateY(-8px) rotate(-45deg);
     background-color: var(--accent5);
   }
}
