.photosContainer {
    margin-bottom: 15rem;
}

.heading {
    color: var(--accent1);
    margin-bottom: 5rem;
}

.boxContainer {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 
        "one two three"
        "one four five";
    grid-template-columns: 50% 30% 20%;
}

.box1 {
    grid-area: one;
    height: 450px;
}

.box1,
.box2, 
.box3,
.box4, 
.box5 {
    position: relative;
}

.box3 {
    background-color: var(--accent2);
    color: var(--accent4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3rem 3rem 1rem 2rem ;
}

.box4 {
    background-color: var(--accent3);
    color: var(--accent1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3rem 3rem 1rem 2rem;
}

.icon {
    font-size: 4rem;
}

@media screen and (max-width: 868px) {
    .boxContainer {
        grid-template-areas:
            "one one"
            "two three"
            "four five";
        grid-template-columns: 50% 50%;
    }

    .box1 {
        height: 300px;
    }
}