.footerTop {
    padding: 10rem;
    position: relative;
    z-index: 1;
}

.footerTopContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    padding: 10rem 12rem;
    background-image: var(--design2);
    background-size: 1rem 1rem;
    background-color: var(--accent4);
    color: var(--accent1);
}

.footerTopContent h5 {
    background-color: var(--accent4);
    padding: 1rem;
    /* width: 70%; */
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.footerTopContent2 {
    position: absolute;
    z-index: -1;
    bottom: 50px;
    left: 50px;
    width: 30%;
    height: 200px;
    margin-top: 5rem;
    background: var(--design1);
}

.footerTopContent3 {
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 50px;
    width: 30%;
    height: 200px;
    margin-top: 5rem;
    background: var(--design1);
}

@media screen and (max-width: 1060px) {
    .footerTopContent h5 {
        width: 100%;
    }

    .btnContainer {
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem
    }
}

@media screen and (max-width: 868px) {
    .footerTopContent {
        flex-direction: column;
    }

    .footerTopContent h5 {
        text-align: center;
    }

    .btnContainer {
        align-items: center;
        gap: 3rem
    }

    .footerContent {
        flex-direction: column;
        gap: 5rem;
    }

    .footerLeft {
        align-items: center;
    }

    .footerRight {
        width: 100%;
        align-items: flex-end;
        justify-content: space-between;
        gap: 3rem;
    }
}


@media screen and (max-width: 500px) {
    .footerTopContent {
        padding: 3rem;
    }

    .footerTopContent h5 {
        font-size: 2rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 400px) {
    .footerTop {
        padding: 8rem;
    }

    .footerTopContent {
        gap: 1rem;
    }

    .footerBottom {
        padding: 2rem;
    }

    .footerLeft p {
        font-size: 1.3rem;
        width: 100%;
    }
}

@media screen and (max-width: 370px) {
    .footerTop {
        padding: 3rem;
    }

    .footerTopContent {
        padding: 4rem;
    }

    .footerTopContent2 {
        bottom: 120px;
        left: 0px;
        width: 100%;
        height: 200px;
    }

    .footerTopContent3 {
        display: none;
    }
}