.prefooterContainer {
    padding: 10rem;
    position: relative;
    z-index: 1;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    padding: 10rem 12rem;
    background-image: var(--design2BSZ1rem1rem);
    background-size: 1rem 1rem;
    background-color: var(--accent4);
    color: var(--accent1);
}

.content h5 {
    background-color: var(--accent4);
    padding: 1rem;
    text-transform: uppercase;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.content2 {
    position: absolute;
    z-index: -1;
    bottom: 50px;
    left: 50px;
    width: 30%;
    height: 200px;
    margin-top: 5rem;
    background: var(--design1);
}

.content3 {
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 50px;
    width: 30%;
    height: 200px;
    margin-top: 5rem;
    background: var(--design1);
}

@media screen and (max-width: 1060px) {
    .content h5 {
        width: 100%;
    }

    .btnContainer {
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem
    }
}

@media screen and (max-width: 868px) {
    .content {
        flex-direction: column;
    }

    .content h5 {
        text-align: center;
    }

    .btnContainer {
        align-items: center;
        gap: 3rem
    }

    .content {
        flex-direction: column;
        gap: 5rem;
    }
}

@media screen and (max-width: 650px) {
    .content {
        padding: 5rem 6rem;
    }
}

@media screen and (max-width: 600px) {
    .prefooterContainer {
        padding: 5rem;
        margin-bottom: 5rem;
    }
    
    .content2 {
        bottom: 10px;
        left: 0px;
        width: 30%;
        height: 200px;
    }

    .content3 {
        top: -40px;
        right: 0px;
        width: 30%;
        height: 200px;
    }
}

@media screen and (max-width: 440px) {
    .prefooterContainer {
        padding: 3rem;
    }
}

@media screen and (max-width: 390px) {
    .content {
        padding: 5rem 2rem;
    }
}

@media screen and (max-width: 340px) {
    .content h5 {
        font-size: 2.1rem;
    }
}

/* @media screen and (max-width: 670px) {
    .content h5 {
        text-align: center;
    }

    .prefooterContainer {
        padding: 2rem;
        margin-bottom: 5rem;
    }

    
} */
