.servicesContainer {
    display: flex;
    flex-direction: column;
}

.topContent {
    padding: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 9rem;
    margin-bottom: 5rem;
}

.topLeft, .topRight {
    flex: 1;
}

.topImgContainer {
    position: relative;
    z-index: 1;
}

.topImgContainer::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -90px;
    left:-90px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: var(--design1);
}


.heading {
    line-height: 1.3;
    color: var(--accent1);
    text-transform: uppercase;
    margin-bottom: 3rem;
     font-family: "KenokyLight";
     letter-spacing: 3px;
     font-size: 7rem;
}

.topContent p {
    width: 90%;
    /* text-align: justify; */
    hyphens: auto;
    color: var(--accent1);
    font-weight: 400;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.sectionHeader {
    color: var(--accent1);
    text-transform: uppercase;
}

.contentBottom1,
.contentBottom2,
.contentBottom3 {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    color: var(--accent1);
    margin-bottom: 5rem;
    padding: 3rem;
    padding-top: 2rem;
    background-color: var(--accent5);
    color: var(--accent4);
}

.contentBottom2 {
    background-color: var(--accent3);
    color: var(--accent1);
}

.contentBottom3 {
    background-color: var(--accent2);
    color: var(--accent4);
}

.contentLeft, .contentRight {
    flex: 1
}

.row {
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
    margin-top: 5px;
}

.left,
.right {
    position: relative;
    top: 6px;
}

.separator {
    flex-grow: 1;
    border-bottom: dotted 2px var(--accent4);
}

.separator2 {
    flex-grow: 1;
    border-bottom: dotted 2px var(--accent1);
}

@media screen and (max-width: 953px) {
    .topContent {
        padding-top: 2rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem
    }

    .topContent p {
        width: 100%;
        text-align: center;
    }
    
    .heading {
        text-align: center;
        width: 100%;
    }

    .topContent h5 {
        text-align: center;
        width: 100%;
    }

    .topImgContainer {
        margin-bottom: 15rem;
    }
}

@media screen and (max-width: 690px) {
    .topImgContainer::after {
        bottom: -50px;
        left: -50px;
    }
}

@media screen and (max-width: 600px) {
    .topContent {
        padding: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .contentBottom1,
    .contentBottom2, 
    .contentBottom3 {
        flex-direction: column;
        gap: 0rem;
    }
}

@media screen and (max-width: 570px) {
    .heading {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 570px) {
    .heading {
        font-size: 4.5rem;
        text-align: left;
    }

    .topContent p {
        text-align: left;
    }
}



@media screen and (max-width: 370px) {
    .contentBottom3 {
        margin-bottom: 12rem;
    }
}