.servicesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 15rem;
    background-color: var(--accent);
}

.topContent  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--accent1);
}

.link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.icon {
    font-size: 4rem;
}

.bottomContent {
    /* display: flex;
    justify-content: center;
    gap: 3rem; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

.cardOne, .cardTwo, .cardThree {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 61%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 61%, 0% 100%);
     */
}

.cardOne {
    background-color: var(--accent2);
    color: var(--accent4);
}

.cardTwo {
    margin-top: 20rem;
    background-color: var(--accent4);
    color: var(--accent1);
    border: solid 1px var(--accent1);
}

.cardThree {
    margin-top: 40rem;
    background-color: var(--accent4);
    color: var(--accent1);
    border: solid 1px var(--accent2);
}

.cardheading {
    text-align: center;
    margin-bottom: 2rem;
}

.cardDescription {
    text-align: center;
    /* hyphens: auto; */
    /* word-break: break-all; */
    /* width: 90%; */
    
}

.placeHolderImage {
    position: relative;
    margin-top: 3rem;
}

.circle {
    width:250px;
    height: 250px;
    border-radius: 50%;
    border: 15px solid var(--accent4);
}

.circle2 {
    width:250px;
    height: 250px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 15px solid var(--accent1);
}

.circle3 {
    width:250px;
    height: 250px;
    border: 15px solid var(--accent2)
}

/* .img {
    
} */

@media screen and (max-width: 1100px) {
    .circle,
    .circle2,
    .circle3 {
        width: 225px;
        height: 225px;
    }
}

@media screen and (max-width: 1000px) {
    .bottomContent {
        grid-template-columns: repeat(2, 1fr);
    }

    .circle,
    .circle2,
    .circle3 {
        width: 200px;
        height: 200px;
    }

    .cardTwo, .cardThree {
        margin-top: 0rem;
    }
}

@media screen and (max-width: 615px) {
    .bottomContent {
        grid-template-columns: repeat(1, 1fr);
    }
}