.testContainer {
    margin: 1rem 3rem 15rem 3rem;
    
}

.topContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--accent1);
    margin-bottom: 5rem;
}


.topContent h2 {
    text-transform: uppercase;
}

.link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase; 
}

.icon {
    font-size: 4rem;
}

.bottomContent {
    display: grid;
    grid-template-areas: 
    "one one two three"
    "four five five three"
    ;
    grid-gap: 1rem;
}

.card {
   display: flex;
   flex-direction: column;
   border: 1px solid var(--accent5); 
   /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); */
   padding: 3rem 4rem;
}

.cardHead {
    display: flex;
    align-items: center;
    color: var(--accent1);
    margin-bottom: 1rem;
}

.cardHead1{
    color: var(--accent4);
     display: flex;
     align-items: center;
     margin-bottom: 1rem;
}


.imgContainer {
    border: 2px solid var(--accent5);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 1rem;
}

.img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.name {
    font-weight: 600;
    font-size: 1.5rem;
}

.title {
    opacity: 0.5;
}

.cardHeading {
    color: var(--accent4);
    margin-bottom: 1rem;
    font-size: 2rem;
}

.cardDetail {
    color: var(--accent1);
    opacity: 0.7;
}

.cardDetail1 {
    color: var(--accent4);
    opacity: 0.7;
}

.card1{
    background-color: var(--accent5);
    background-image: url("/images/quotes.svg");
    background-repeat: no-repeat;
    background-position: 80% 0;
    grid-area: one;
}

.card2 {
    grid-area: two;
}

.card3 {
    grid-area: three;
}

.card4 {
    grid-area: four;
}

.card5 {
    grid-area: five;
}

@media screen and (max-width: 950px) {
    .bottomContent {
        grid-template-areas:
            "one two"
            "three four"
            "three four"
            "five five"
        ;
    }
}

@media screen and (max-width: 768px) {
    .bottomContent {
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"       
        ;
    }
}