.testContainer {
    margin-bottom: 15rem;
}

.topContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--accent1);
    margin-bottom: 6.4rem;
    position: relative;
    z-index: 1;
}

.topContent::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -50px;
    right: 0;
    width: 50%;
    height: 200px;
    background-image: var(--design2BSZ1rem1rem);
    background-size: 1rem 1rem;
}

.heading{
    text-transform: uppercase;
    background-color: var(--accent4);
    padding: 0 1rem;
    hyphens: auto;
    word-break: break-all;
    font-family: "KenokyLight";
    letter-spacing: 2px;
    font-size: 6rem;
}

.link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
    text-transform: uppercase; 
    background-color: var(--accent4);
    padding: 0 1rem;
}

.bottomContent {
    display: grid;
    grid-template-areas: 
    "one one two three"
    "four five five three"
    ;
    grid-gap: 1rem;
}

.card {
   display: flex;
   flex-direction: column;
   border: 1px solid var(--accent5); 
   padding: 3rem 4rem;
}

.cardHead {
    display: flex;
    align-items: center;
    color: var(--accent1);
    margin-bottom: 1rem;
}

.cardHead1{
    color: var(--accent4);
     display: flex;
     align-items: center;
     margin-bottom: 1rem;
}

.imgContainer {
    border: 2px solid var(--accent5);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 1rem;
}

.img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.name {
    font-weight: 600;
    font-size: 1.5rem;
}

.title {
    opacity: 0.5;
}

.cardHeading {
    color: var(--accent4);
    margin-bottom: 1rem;
    font-size: 2rem;
}

.cardDetail {
    color: var(--accent1);
    opacity: 0.7;
}

.cardDetail1 {
    color: var(--accent4);
    opacity: 0.7;
}

.card1{
    background-color: var(--accent5);
    background-image: url("/images/quotes.svg");
    background-repeat: no-repeat;
    background-position: 80% 0;
    grid-area: one;
}

.card2 {
    grid-area: two;
    
}

.card3 {
    grid-area: three;
}

.card4 {
    grid-area: four;
}

.card5 {
    grid-area: five;
}

@media screen and (max-width: 1000px) {
    .topContent::before {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .bottomContent {
        grid-template-areas:
            "one two"
            "three four"
            "three four"
            "five five"
        ;
    }
}

@media screen and (max-width: 768px) {
    .bottomContent {
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"       
        ;
    }

    .topContent {
        margin-bottom: 8.7rem;
    }
}

@media screen and (max-width: 480px) {
    .topContent {
        margin-bottom: 10rem;
    }
}

@media screen and (max-width: 392px) {
    .topContent {
        margin-bottom: 10.5rem;
    }
}