.testContainer {
    margin-bottom: 15rem;
}

.topContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--accent1);
    margin-bottom: 5rem;
}

.topContent h2 {
    text-transform: uppercase;
}

.link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    
}

.icon {
    font-size: 4rem;
}

.bottomContentA {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 
        "one two";
    grid-template-columns: 20% 50%;
    justify-content: center;
}

.img1, .img2 {
    position: relative;
}

.img1 {
    grid-area: one;
    height: 125px;
}

.testBox1 {
    grid-area: two;
    border: 1px solid var(--accent1);
    color: var(--accent1);
    padding: 2rem;
}

 .bottomContentB {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 
    "three four";
    grid-template-columns: 50% 20%;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.testBox2 {
    grid-area: three;
    padding: 2rem;
    border: 1px solid var(--accent1);
    color: var(--accent1);
}

.img2 {
    grid-area: four;
    height: 125px;
}

.testBox3 {
    padding: 2rem;
    border: 1px solid var(--accent1);
    color: var(--accent1);
}

@media screen and (max-width: 868px) {
    .bottomContentA, .bottomContentB {
        grid-template-columns: 50% 50%;
        justify-content: end;
    }
}